body{
    position: absolute;
    background-color: rgb(192, 221, 210);
}
h1{
color: rgb(13, 65, 30);
text-align: center;
font-size: 50px;}

h2{
    margin-left: 15px;
}


img{
    border-radius: 10%;
}
p{
font-size: 20px;
text-align: justify;
margin-left: 15px;
margin-right: 15px;
}

.Lista{
    line-height: 50px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
}
.ordem{
    display: flex;
    align-items: center;
}
.img_paises{
    height: 150px;
    width: 240px;
    border: 2px solid rgb(7, 48, 94);
    align-items: center;
}
.nome_paises{
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.cabeçalho{
    background-color: rgb(94, 139, 68);
}
.suica{
    background-color: rgb(75, 148, 190);
}
.japao{
    background-color: rgb(190, 75, 75);
}
.canada{
    background-color: rgb(107, 212, 130);
}
a:hover{
    color: rgb(29, 110, 4);
    font-size: 17px;
}
.botao{
    margin-left: 15px;
    background-color: rgb(83, 168, 108);
}
.TextoMt{
    margin-left: 15px;
}